.menu {
  width: 20vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 1em;
  padding: 1em;
  border: 1px solid;
  border-color: #fe9f00;
  font-family: 'BebasNeueRegular';
  letter-spacing: 1.5px;

  font-weight: normal;
  font-style: normal;
}

.title-span{
  color: #fe9f00;
}
.menu span {
  text-transform: uppercase;


}
select {
  background: #000;
  position: absolute;
  border: none;

}

.title-info{
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}
