.header {
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
  border-color: #fe9f00;
  background-color: #000;
  opacity: 0.8;
  font-family: 'BebasNeueRegular';
  letter-spacing: 1.5px;
  height: 10vh;
  width: 100%;
  font-weight: normal;
  font-style: normal;
}

.logo-name {
  display: flex;
}

.logo-name img {
  width: 200px;
}

.contact {
  text-transform: uppercase;
  /* font-weight: 700; */
  color: #fff;
  margin-right: 1em;
}
