.footer {
  background-color: #2b3b44;
  opacity: 0.8;
  border-top: 1px solid;
  border-color: #fe9f00;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1.5em;
  margin-bottom: 0;
  padding-bottom: 0;
}

.logo img {
  width: 200px;
}
